# Скопируй в .env и заполни своими значениями

# Django
SECRET_KEY=замени-на-случайную-строку-50-символов
DEBUG=false
ALLOWED_HOSTS=193.38.235.254,localhost

# CORS и CSRF (порт обязателен если не 80/443)
CORS_ALLOWED_ORIGINS=http://193.38.235.254:8080
CSRF_TRUSTED_ORIGINS=http://193.38.235.254:8080

# VAPID (Web Push) — не меняй если уже есть подписки в БД
VAPID_PRIVATE_KEY=CSa35EBvwV-DnZE3MGN8cLWgw7BR3hOXF6MLAMU62-U
VAPID_PUBLIC_KEY=BCYEIT1PMb70FLUJ9ghNOLOzD2_R7twW5NA0KCVTNuWVYDkMpE19dyF8Xye1VFicEiJRMUi6VimJEcJP1svQyOg
VAPID_CLAIM_EMAIL=admin@pulsehr.ru

# Push-планировщик (для демо: 60 и 30, для продакшена: 86400 и 3600)
PUSH_REMINDER_SECONDS_BEFORE_END=60
PUSH_SCHEDULER_INTERVAL_SECONDS=30
