asgiref==3.11.1
whitenoise==6.8.0
Django==6.0.6
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
sqlparse==0.5.5
pywebpush==2.3.0
apscheduler==3.11.2
